.collapsed {
    display: block;
    cursor: pointer;
    padding:30px 0 0 20px;
    background-color:white;
    color: rgb(70, 70, 70);
    font-family: verdana;
    /* border: 1px solid rgb(122, 109, 109);  */
    border-radius: 5px;
    margin:5px 5px 0px 5px;
    box-shadow: 0 0 5px 0px black;
}

.collapsed:hover {
    background-color:rgb(241, 241, 241) !important;
    transition: 0.15s ease;
}

.collapsed:hover {
    background-color:rgb(241, 241, 241) !important;
    transition: 0.15s ease;
}

.place-name {
    font-size: medium !important;
}

.move-stop {
    display: inline-block;
}
/* .stoplist-container{
    display: flex;
    align-items: center;
    justify-content: center;

} */
.stoplist-delete-btn {
    padding:3px !important;
    background-color:rgb(226, 226, 226);
    background: rgb(226, 226, 226);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 1rem;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
    cursor: pointer;
  }
  .stoplist-delete-btn:hover {
    background-color:#F8655E;
    transition: 0.2s;
}