.collapsed{
    cursor: pointer;
    border: solid 1px #d6d6d6;
    padding-top:40px;
    padding-bottom:40px;
    padding:40px 0 40px 20px;
    background-color:white;
    color: rgb(158, 158, 158);
    font-family: verdana;
}

.place-name {
    font-size: medium !important;
}

.move-stop {
    display: inline-block;
}

.delete {
    float: right;
    margin:8px !important;
    padding:3px !important;
}

.delete:hover {
    background-color:#F8655E;
    transition: 0.2s;
}