.content {
    display:flex;
    flex-flow:column;
    width:100%;
    overflow: hidden; 
}



.header {
    position:fixed;
    top:0;
    width:100%;
    flex:1;
}









.activity-list{
    counter-reset: list;
    border-left: 2px solid lightgrey;
    margin: 1em;
    padding: 0;
}

.activity-list .activity-list-item {
    list-style: none;
    margin: 0 0 0.5em 0;
    padding: 0;
}

.activity-list .activity-list-item:before {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin: 0 0.5em 0 -0.65em;
    border-radius: 50%;  
    content: " ";
    text-align: center;
    background: lightgrey;
    counter-increment: list;
}

.modal{
    background:red;
    position: absolute;
    width:100%;
    height: 500px;
    margin: 50px 50px 50px 50px;
}




