.content {
    display:flex;
    flex-flow:column;
    width:100%;
    overflow: hidden; 
}

.header {
    position:fixed;
    top:0;
    width:100%;
    flex:1;
}

.body {
    flex:1;
    width:100%;
} 

.plan {
    background:white;
    float:right;
    width: 300px;
    height: 500px;
    margin: 10px;
    border: 1px solid darkgray;
    pointer-events: none;
    box-shadow: 0px 0px 12px grey;
}
