#geocoder> .mapboxgl-ctrl-geocoder {

    min-width: 100%;
    font:inherit !important;
    font-size: medium !important;
    box-shadow: 0 0 5px 0px black;
    border-radius: 5px;
    outline:none;
}