.plan-overview {
    background-color:#616B64;
    color:white;
    width: 100%;
    padding:10px;
    box-shadow: 0px -1px 5px 0px grey;
    border-radius: 0 0 5px 5px;
    z-index: 12;
}

.overview-stat {
    font-size: 17px;
}

.overview-list{
    list-style-type: none; 
}

.overview-list .duration {
    margin-left:2px;
}
.overview-list .distance {

}

.overview-list .stops {
    margin-left:3px;
}
