.activity-view {
  flex:1 1 100%;
  background-color: transparent;
  margin:10px;
}

.activity-overview-container {
  display: flex;
  flex-direction: row;
}

.activity-view-placeholder{
  height: 100%;
  line-height: 400px;
  text-align: center;
}

.activity-info-container {
  flex:1 1 100%;
  height:300px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}

.activity-view-photo {
  margin-right:5px;
  box-shadow:0 0 5px 1px rgb(87, 87, 87);
  background-color: white;
}

.activity-view-info {
  margin-left:5px;
  border:none;
}

.acitivity-name {
  text-align: center;
}

.activity-address {
  text-align: center;
  margin-top: 20px;
}

.activity-cost {
  text-align: center;
  margin-top: 20px;
}

.add-activity {
  width: calc(100% - 20px);
  margin-top:10px;
  margin-left:10px;
  box-shadow:0 0 5px 1px rgb(87, 87, 87);
  background-color: #7dff99;
}

.add-activity:hover {
  background-color: #39fc63;
  transition:ease 0.2s;
}

.book-accomodation {
  width: calc(100% - 20px);
  margin-top:10px;
  margin-left:10px;
  box-shadow:0 0 5px 1px rgb(87, 87, 87);
  text-decoration: none;
  color:white;
  background-color: #003580;
}

.book-accomodation:hover {
  background-color: #01204d;
  transition:ease 0.2s;
}

.open-website {
  width: calc(100% - 20px);
  margin-top:10px;
  margin-left:10px;
  box-shadow:0 0 5px 1px rgb(87, 87, 87);
  text-decoration: none;
  color:white;
  background-color: #F76A48;
}

.book-accomodation:hover {
  background-color: #f05129;
  transition:ease 0.2s;
}

.activity-view-description {
  margin-top:10px;
  margin-bottom:10px;
  flex:none !important;
  border: none !important;
  width: 100%;
  height: 370px;
  overflow-y: scroll;
}