.activity-view {
  flex:1 1 100%;
  margin:10px;
}

.activity-overview-container {
  display: flex;
  flex-direction: row;
}

.activity-info-container {
  flex:1 1 100%;
  height:300px;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 5px;
}

.activity-view-photo {
  margin-right:5px;
}

.activity-view-info {
  margin-left:5px;
  border:none;
}

.activity-address {
  text-align: center;
  margin-top: 20px;
}

.activity-cost {
  text-align: center;
  margin-top: 20px;
}

.activity-view-description {
  margin-top:10px;
  margin-bottom:10px;
  flex:none !important;
  border: none !important;
  width: 100%;
  height: 370px;
  overflow-y: scroll;
}