.browse-activity-list-item {
  height:20vh;
  background-color: rgb(255, 255, 255);
  margin:7px; 
  list-style: none;
  border-radius:5px;
  box-shadow:0 0 5px 1px rgb(87, 87, 87);
  cursor: pointer;
  display: flex;
  flex-direction:row;
}

.activity-list-photo {
  background-color:rgb(192, 192, 192);
  border: 1px solid none;
  border-radius: 5px;
  height:20vh;
  width:20vh;
  min-width: 20vh;
}

.activity-list-name {
  margin-left: 30px;
}

.selected {
  background-color:rgb(221, 221, 221);
  transition:ease 0.15s;
}

.spinner-container {
  height:20vh;
  width: 20vh;
  margin: auto;
}

.loader {
  height: inherit;
  width: inherit;
}