.browse-activity-container {
  display: flex;
  flex-direction: row;  
  position: relative;
  height:700px;
  width:100%;
}

.accomodation:hover {
  /* october-4 */
}

.foods {

}

.interesting-places {

}

.services {

}
