.expanded{
    cursor: pointer;
    color:rgb(114, 114, 114);
    padding: 15px;
    font-family: verdana;
    margin:0px 5px 5px 5px;
    font-size: 14px;
}

.activity-list {
    padding-left: 15px;
    cursor: default;
    list-style:none;
}

.browse-activities {
    padding:2px 5px 2px 5px;
}
