.expanded{
    cursor: pointer;
    color:rgb(114, 114, 114);
    background:rgb(211, 211, 211);
    padding: 15px;
    font-family: verdana;
    font-size: 14px;
}

.activity-list {
    padding-left: 15px;
    cursor: default;
    list-style:none;
}
